//--------------------------------------------------------------
// Global and Shared Navigation Styles.
//--------------------------------------------------------------
// Default menu (active after a fresh WordPress install).
.menu {
	@include list-reset;
	ul {
		@include list-reset; // Dropdowns.
		&.sub-menu {
			@include padding(rem(10));
			background: $color-white;
			li {
				@include margin(0);
			} // li
		} // &.sub-menu
	} // ul
	// For list items with menu items.
	.menu-item-has-children {
		.menu-item-has-children {
			// Rotate to the right to point toward the direction of the dropdown.
			.caret-down {
				transform: rotate(-90deg) translateX(rem(2));
			} // .caret-down
		} // .menu-item-has-children
	} // .menu-item-has-children
	// Menu hyperlinks
	a {
		display: block;
		text-decoration: none;
		color: $color-white;
		font-size: 20px;
		font-weight: 300;
		
	} // a
	// Current items
	.current_page_item a,
	.current-menu-item a {
		color: $color-white;
	} // .current_page_item a, .current-menu-item a
} // .menu
//-----------------------------------------
// Caret down.
//-----------------------------------------
.caret-down {
	@include size(rem(10) rem(20));
	background: url('assets/images/svg-icons/caret-down.svg') no-repeat transparent;
	background-size: 100%;
	display: inline-block;
	margin-left: rem(5);
	vertical-align: middle;
} // .angle-down
