//--------------------------------------------------------------
// Main Navigation — Desktop.
//--------------------------------------------------------------
.main-navigation {
	display: none;
	@include media($tablet-landscape) {
		display: block;
	} // Menu area
	ul {
		display: none;
		@include media($tablet-landscape) {
			display: block;
		}
		li {
			a{
				text-transform: uppercase;
				font-weight: bold;
				font-size: 12px;
				padding-top: 5px;
			}
			//margin: 0 rem(30) 0 0;
			a::after{
				content: "/";
				padding: 0 10px;
			}
		}
		li:last-child a::after{
            content: '';
		}
	} // ul
	&.toggled ul {
		display: block;
	} // &.toggled ul
	.social-icons {
		display: none;
		@include media($tablet-landscape) {
			display: block;
		
        display: block;
        text-align: center;
        @include media($desktop) {
          display: flex;
        }
        a {
          color: rgba(0,0,0,.1);
		  font-size: 12px;
		  :hover{
			color: #e6941d;
		  }
          .fa-inverse {
			color: #ffffff;
			background: rgba(255, 253, 253, 0);
		  }
		  .svg-inline--fa.fa-stack-2x{
			height: 1em;
			width: 1em;
		  }
		  .fa-stack-2x{
			  font-size: 1em;
		  }
        }
	  }
	}
} // .main-navigation
//-----------------------------------------
// Dropdown.
//-----------------------------------------
.dropdown {
	position: relative; // Sub-menu
	ul {
		@include position(absolute, rem(24) null null -999em);
		box-shadow: 0 rem(3) rem(3) rgba($color-black, 0.2);
		float: left;
		z-index: 99999; // Sub-sub menu
		ul {
			left: -999em;
			top: 0;
		} // ul
		// Sub-menu items
		li {
			width: 100%;
			&:hover>ul,
			&.focus>ul {
				left: 100%;
			} // &:hover > ul, &.focus > ul
		} // li
		// Sub-menu links
		a {
			@include size(100% auto);
			color: $color-white;
			min-width: rem(200);
			
		} // a
		// sass-lint:disable no-qualifying-elements
		&:hover>a,
		.focus>a {}
		// &:hover > a, .focus > a
		a:hover,
		a.focus {}
		// a:hover, a.focus
		// sass-lint:enable no-qualifying-elements
	} // ul
	// Display sub-menu on hover
	li:hover>ul,
	.focus>ul {
		left: auto;
	} // li:hover > ul, .focus > ul
	// Menu items
	li {
		float: left;
		position: relative;
		&:hover>a,
		&.focus>a {}
		// &:hover > a, &.focus > a
	} // li
} // &.dropdown
