//--------------------------------------------------------------
// Navigation on Comment, Post and Posts.
//--------------------------------------------------------------
.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 rem(24) 0;
		overflow: hidden;
	} // .site-main &

	.nav-previous {
		@include size(50% auto);

		text-align: center;
	} // &.nav-previous

	.nav-next {
		@include size(50% auto);

		float: right;
		text-align: center;
	} // &.nav-next
} // .comment-navigation, .posts-navigation, .post-navigation
