//--------------------------------------------------------------
// Site Content
//--------------------------------------------------------------

//--------------------------------------------------------------
// Posts and Pages
//--------------------------------------------------------------

// Entry Title
.entry-title {
	a {
		text-decoration: none;
		color: #000000;
	}
} // .entry-title

// Sticy and Comments Link
.sticky,
.comments-link {
	display: block;
} // .sticky, .comments-link

// hentry
.hentry {
	margin: 0 0 rem(24) 0;
} // .hentry

// Byline and update post date
.byline,
.updated:not(.published) {
	display: none;
} // .byline, .updated:not(.published)

// Byline for single and group
.single .byline,
.group-blog .byline {
	display: inline;
} // .single .byline, .group-blog .byline

// Page content, entry content and entry summary
.page-content,
.entry-content,
.entry-summary {
	margin:0;
	padding: 0 20px 20px;
} // .page-content, .entry-content, .entry-summary

// Page links
.page-links {
	clear: both;
	margin: 0 0 rem(24) 0;
} // .page-links

// Tags links
.tags-links {
	margin-left: rem(24);
	a{
		display: inline-block;
		color: #fff;
		background-color: #222;
		font-size: 12px;
		padding: 11px;
		margin-right: 6px;
		margin-bottom: 11px;
		font-family: 'Montserrat';
		text-transform: uppercase;
		letterspacing: 1px;
	}
} // .tags-links

// Edit link
.edit-link {
	margin: 0 0 0 rem(5);

	a {
		display: inline-block;
		font-size: rem(12);
		text-transform: lowercase;

		&::before {
			content: '(';
		}

		&::after {
			content: ')';
		}
	} // a
} // .edit-link

// Asides
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
} // .blog .format-aside .entry-title, .archive .format-aside .entry-title

// Content blocks.
.content-block {
	@include clearfix;
} // .content-block


.archive,.blog {
	article {
		border: 1px solid #000000;;
		@include span-columns(12);
		@include media($tablet-portrait) {
			margin: 20px;
			@include span-columns(5);
			@include omega(2n);
			
		}

		.entry-content {
			.read-more {
				display: flex;
				justify-content: center;

				.more-link {
					color: #fff;
					text-decoration: none;
					background-color: #000000;
					font-size: 20px;
					text-transform: uppercase;
				}
			}
		}
	}
}