//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------
.site-footer {
	background: $color-black;
    .subscribe,
	.form-container {
		text-align: center;
		.footer-header {
			padding-top: 30px;
			.heading {
				margin-top: 70px;
				@include media($desktop) {
					margin: rem(40) auto rem(60);
				}
				.title {
					border: 2px solid $color-white;
					padding: 10px;
					color: $color-white;
					svg {
						margin-left: 20px;
					}
				}
			}
		}
		p {
			color: $color-white;
		}
}
	.site-info {
		margin: auto;
		text-align: center;
		color: $color-white;
		padding-bottom: 20px;
		.copyright-text{
			p{
				margin: 0;
			}
		}
	} // .site-info
	.social-icons {
		padding: 30px;
		text-align: center;
		display: block;
		text-align: center;
		.icons{
			margin: 0px;
			list-style: none;
			overflow: hidden;
			display: inline-block;
			z-index: 2;
			position: relative;
			background-color:$color-black;
			padding: 0px 11px 0px 11px;
			a {
				z-index: 9999;
				color: $color-white;
				font-size: 12px;
			:hover{
				color: #e6941d;
			}
			.fa-inverse {
				color: $color-white;
			}
			.svg-inline--fa.fa-stack-2x{
				height: 1em;
				width: 1em;
			}
			.fa-stack-2x{
				font-size: 2em;
			}
			}
		}
		.line {
			background-color: #fff;
			margin-bottom: 44px;
			width: 25%;
			height: 2px;
			z-index: 1;
			position: relative;
			bottom: 25px;
			margin: 0px auto;
		}
		
	}
	

	.gform_wrapper {
		background-color: $color-black;
	}
	.gform_wrapper input[type="email"],
	.gform_wrapper input[type="file"],
	.gform_wrapper input[type="number"],
	.gform_wrapper input[type="password"],
	.gform_wrapper input[type="tel"],
	.gform_wrapper input[type="text"],
	.gform_wrapper input[type="url"],
	.gform_wrapper textarea {
		background-color: $color-black;
		outline: none;
		padding: 10px 15px;
		color: $color-white;
	}
	.gform_wrapper .gfield_label {
		color: $color-white;
		display: inline-flex;
		padding: 10px 15px;
		border: 1px solid $color-white;
		border-right: none;
		text-transform: uppercase;
	}
	.gform_wrapper ul.gform_fields li.gfield,
	.gform_wrapper ul li.gfield {
		display: inline-flex;
		align-items: stretch;
	}
	.gform_wrapper .top_label div.ginput_container {
		margin-top: 0;
		width: 100%;
	}
	.gform_wrapper input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
		padding: 10px 15px;
		color: white;
	}
	.gform_wrapper form li,
	.gform_wrapper li {
		width: 100%;
	}
	.gform_wrapper .top_label .gfield_label {
		display: flex;
		align-items: center;
	}
	.gform_footer {
		text-align: center;
		.button,
		button,
		input[type="button"],
		input[type="reset"],
		input[type="submit"] {
			background-color: $color-white;
			border: 1px solid $color-white;
			color: $color-black;
			font-size: 1.5em !important;
			text-transform: uppercase;
		}
	}
	.subscribe {
		.heading {
			color: $color-white;
		}
		.gform_wrapper form {
			display: block;
			@include media($desktop) {
				display: flex;
				align-items: center;
			}
		}
		.gform_wrapper .gform_heading {
			width: 0;
			display: none;
		}
		.gform_wrapper .gform_footer {
			max-width: 100%;
			@include media($desktop) {
				max-width: 20%;
				text-align: start;
				padding: 0 20px;
			}
		}
		.gform_wrapper input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
			width: 100%;
		}
		.gform_wrapper ul.gform_fields li.gfield,
		.gform_wrapper ul li.gfield {
			padding-right: 0;
		}
	}
}
