//--------------------------------------------------------------
// Header.
//--------------------------------------------------------------

.site-header {
	background: $color-black;
	z-index: 999;
	@include media($tablet-portrait) {
		position: relative;
	}
	@include media($tablet-landscape) {
		position: absolute;
	    background: none;
		padding: 23px 75px;
		width: 100%;
		top: 0;
		display: flex;
		align-items: center;
		height: 60px;
	}
	.nav-bar {
		display: none;
		@include media($tablet-landscape) {
			@include span-columns(8);
			display: block;
			float: left;
		}
	} // Site logo.
	.site-branding {
		display: none;
		z-index: 999;
		@include span-columns(3);
		margin-left: 15px;
		@include media($tablet-portrait) {
			position: absolute;
		}
		@include media($tablet-landscape) {
			position: relative;
			top: 12px;
			margin-left: 0;
			@include span-columns(3);
		}
		@include media($desktop) {
			top: 42px;
		}
		@include media($tablet-landscape) {
			margin-left: 0;
			@include span-columns(3);
		} // Don't let the logo get out of control.
		.custom-logo-link img {
			@include media($desktop) {
				float: right;
				max-width: 60%;
				height: auto;
			}
		} // img
	} // .site-branding
	//-----------------------------------------
	// Site Title.
	//-----------------------------------------
	// .site-title {
	// 	font-size: rem(48);
	// 	// Align next to the logo on mid-size screens.
	// 	@include media(min-width $tablet-portrait max-width $tablet-landscape) {
	// 		float: left;
	// 		margin: 0;
	// 		padding: 0 rem(12);
	// 		width: 50%;
	// 	}
	// } // .site-title
	//-----------------------------------------
	// Site Description.
	//-----------------------------------------
	// .site-description {
	// 	font-size: rem(24);
	// 	margin: 0 0 rem(24) 0;
	// 	@include media(min-width $tablet-portrait max-width $tablet-landscape) {
	// 		clear: both;
	// 	}
	// } // .site-description
	//-----------------------------------------
	// Header action container — Form Dropdown.
	//-----------------------------------------
	.site-header-action {
		@include span-columns(12);
		@include media($tablet-portrait) {
			@include span-columns(5);
		}
		@include media($tablet-landscape) {
			@include span-columns(4);
			float: right;
			margin-right: 0;
		}
		@include media($desktop) {
			@include span-columns(3);
			float: right;
			margin-right: 0;
		}
		@include media($desktop-large) {
			@include span-columns(2);
			float: right;
			margin-right: 0;
		}
		
	} // .site-header-action
	//-----------------------------------------
	// Site header action cta buttons.
	//-----------------------------------------
	.site-header-action {
		// Span the button the full width.
		.button-link,
		.cta-button {
			color: $color-white;
			display: block;
			text-align: center;
			text-decoration: none;
			width: 100%;
		} // .button-link, .cta-button
	} // .site-header-action
	//-----------------------------------------
	// Site header Action Searchform.
	//-----------------------------------------
	.site-header-action {
		.search-form {
			opacity: 0;
			transition: $transition-opacity;
			visibility: hidden; // If the body class is there, show the form.
			.search-form-visible & {
				display: block;
				opacity: 1;
				transition: $transition-opacity;
				visibility: visible;
			} // .search-form-visible &
		} // .search-form
	} // .site-header-action
	//-----------------------------------------
	// Main Navigation Container.
	//-----------------------------------------
	.main-navigation {
		@include span-columns(12);
		@include media($tablet-portrait) {
			display: flex;
			justify-content: center;
		}
	} // .main-navigation
}

.site-content {
	margin: 0 !important;
}


.header-bg{
	background: $color-black!important;
	transition: all 0.3s ease;
	position: fixed;
	@include media($tablet-portrait) {
		position: sticky;
	}
	
}
header{
	opacity: 1;
	&.scrolled-out {
		position: fixed;
		opacity: 0;

	}
  &.in-view{
	@include media($tablet-portrait) {

	background: $color-black;
	opacity:1;
	visibility:visible;
	transform:translate(0, 0);
	transition: all 0.3s ease;
	}
}

  }
  
  
  .page-header {
	text-align: center;
	padding-top: 30px;
	.page-title {
		margin: 50px;
		@include media($desktop) {
			margin: rem(40) auto rem(60);
		}
		.title {
			border: 2px solid $color-mineshaft;
			padding: 10px;
			svg {
				margin-left: 20px;
			}
		}
	}
}