.about-us {
	padding-bottom: 66px;
	.grid-x{
		padding: 20px;
		.page-header {
			max-width: 50rem;
			margin-left: auto;
			margin-right: auto;
			p{
				text-align: start;
			}
			.page-title {
				margin-top: 10px;
				@include media($desktop) {
					margin: rem(40) auto rem(64);
				}
				span {
					border: 2px solid #222;
					padding: 10px;
					svg {
						margin-left: 20px;
					}
				}
			}
		}
	
		.about-card {
			
			@include outer-container();
			
			.cell {
				text-align: center;
				margin: auto;
				@include span-columns(12);
				@include media(min-width 640px) {
					@include span-columns(6 of 12);
					@include omega(2n);
				}
				@include media(min-width 960px) {
					@include omega-reset(2n);
					@include span-columns(4 of 12);
					@include omega(3n);
				}
				h3 {
					font-size: 16px;
					margin-bottom: 0;
				}
				p{
					padding-left: 15px;
    			padding-right: 15px;
				}
			}
		}
    }
}
