.hero-slider{
    .soliloquy-container {
        .soliloquy-viewport{
            height: 100% !important;
            .soliloquy-image{
                max-height: 400px;
                height: 100%;
                @include media($tablet-landscape) {
                    max-height: 100%;
                    height: auto;
                }
            }
        }
        .soliloquy-caption .soliloquy-caption-inside {
            height: 100%;
            @include media($tablet-landscape) {
                height: 100%;
                width: 100%;
                h1{
                    line-height: 1.4;
                    font-size: 2.3125em;
                    height: 70%;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }
            }
            h1{

                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;

            }
        } 
        .soliloquy-pager-item{
            padding: 10px;
            margin: 0!important; 
            
        }
        .soliloquy-pager-link{
            width: 20px!important; 
            height: 20px!important; 
            display: block;
            background: none;
            cursor: pointer;
            border-radius: 20px;
            border: 2px solid #fff;
        }
        .soliloquy-pager-link.active, .soliloquy-pager-link:hover{
            background-image: none;
            background: #fff;
        }
    }
   
}