.divider-image {
	background-color: rgb(229, 229, 229);
	margin-bottom: 0;
	background-size: cover !important;
	background-position: center center;
	background-attachment: fixed !important;
	height: 200px;
	:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #222;
		opacity: 0.2;
	}
}