.our-team {
	padding-bottom: 66px;
	.team-content {
		outline: none;
		padding: 20px;
		.team-container {
			.page-header {
				text-align: center;
				.page-title {
					@include media($desktop) {
						margin: rem(40) auto rem(64);
					}
					span {
						border: 2px solid #222;
						padding: 10px;
						svg {
							margin-left: 20px;
						}
					}
				}
			}
		}
	    .team-wraper {
			border-radius: 1px;
			margin: 15px 0;
			border-color: $color-silver-chalice;
            background-color: $color-gray;
			.team-member {
				display: flex;
				font-size: 21px;
				padding: 5px 10px;
				.name {
					margin: 0 10px;
					color: #666;
				}
				svg {
					transition: transform .5s ease;
					transform: rotate(0deg);
					margin: auto 0;
					font-size: 15px;
					color: #666;
				}
				&.active svg {
					transform: rotate(-180deg);
					font-size: 15px;
				}
				.faqs-questionteam-member {
					margin: auto 0 auto 5px;
					font-size: 14px;
				}
			}
			.description {
				display: none;
				margin-top: 3px;
				margin-bottom: 30px;
				padding: 0 20px 25px;
				margin-left: 20px;
				font-size: 14px;
				letter-spacing: -0.1px;
				text-align: left;
				a {
					color: #0077B5;
					font-size: 40px;
				}
			}
		}
	}
}
