.recent-deals {
    padding-bottom: 66px;
    a{
        color: $color-black;
    }
    .header {
        padding-top: 30px;
        font-size: 2.3125em;
        .title {
            border: 2px solid #ccc;
            padding: 10px;
        }
    }
    .sub-header {
        text-align: center;
        font-size: 2em;
    }
    .deals-container {
        padding: 20px;
        z-index: 99;
        #f1_card {
            width: 100%;
            height: 100%;
            border: 1px solid#878686;
        }
        
        .face {
            height: 100%;
            border: 1px solid #878686;
            margin: 10px;
            z-index: 99;
            .title {
                margin-bottom: 20px;
                border-bottom: 1px solid #878686;
            }
            .amount {
                margin-bottom: 0;
            }
            .deal-info {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 240px;
                img {
                    max-height: 70px;
                    width: auto;
                    object-fit: contain;
                }
                .logo-img{
                    display: flex;
                    justify-content: space-around;
                    
                    }
            }
        }
    }
    .all-deal{
        text-align: center;
        padding: 30px 20px;
        a{
            color: $carrot-orange;
        }
    }
}

.slick-prev, .slick-next{
    background-color: rgba(34, 34, 51, 0.253)!important;
    border-radius: 50%;
}
.slick-slide img {
    padding: 0 20px;
}
.slick-dots{
    position: relative!important;
}