//--------------------------------------------------------------
// Homepage service section
//--------------------------------------------------------------
.services {
	.grid-x {
		outline: none;
        color: $color-white;
        padding: 20px;
        @include media($desktop) {
            padding: 0;
        }
		.page-header {
            max-width: 50rem;
            margin-left: auto;
            margin-right: auto;
            p{
                text-align: start;
            }
			.page-title {
				margin-top: 10px;
				@include media($desktop) {
					margin: rem(40) auto rem(64);
				}
				span {
					border: 2px solid #fff;
					padding: 10px;
					svg {
						margin-left: 20px;
					}
				}
			}
		}
		.card-board {
            @include outer-container();
            @include media($desktop) {
            padding: 30px;
            }
			.cell {
				text-align: center;
				color: $color-white;
				padding-bottom: 30px;
				@include span-columns(12);
				@include media($desktop) {
					@include span-columns(4);
					@include omega(3n);
				}
				.service-container {
					border-bottom: none;
					border: 1px solid #fff;
					padding-bottom: 44px;
					padding-top: 34px;
					position: relative;
					z-index: 1;
					p {
						padding: 0px 22px 0px 22px;
					}
				}
				.font-icon{
					margin-top: -37px;
					svg{
						width: 40px;
						height: 40px;
						position: relative;
						top: 20px;
					}
				}
				
				
			}
		}
	}
}
