
	.soliloquy-container {
		margin: 0 !important;

		.soliloquy-caption.soliloquy-caption-bottom {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
		}

		.soliloquy-fc-slider .soliloquy-caption-inside .soliloquy-fc-title-link {
			font-size: 42px !important;
			font-weight: 400;
			letter-spacing: .5px;
			display: block;
			margin-bottom: 50px;
			line-height: 1.3;
			text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
				
		}
			

		.soliloquy-fc-slider .soliloquy-caption-inside .soliloquy-fc-read-more {
			margin-left: 25px;
			font-weight: 600;
			color: white;
			border: 1.5px solid white;
			padding: 8px 28px;
			border-radius: 50px;
			transition: all .15s ease;
			font-size: 12px;
			margin-top: 20px;
			letter-spacing: 1.4px;
		}

		.soliloquy-pager {
			width: 30px !important;
			height: 100% !important;
			right: 0 !important;
			top: 0 !important;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			z-index: 9999;
		}


		.soliloquy-controls-direction {
			display: none;
		}
		.soliloquy-caption .soliloquy-caption-inside{
			background: none;
			height: 100%;
			width: 100%;
			display: flex!important; 
			align-items: center!important; 
			justify-content: center;
			@include media($tablet-landscape) {
				height: 70%;
				width: 50%;
				color: $color-white;
				font-size: 20px!important; 
				
			}
		}

		.soliloquy-pager-item{
			padding: 10px;
			margin: 0!important; 
		}
		.soliloquy-pager-link{
			width: 20px!important; 
			height: 20px!important; 
			display: block;
			background: none!important; 
			cursor: pointer;
			text-indent: -9999px;
			border-radius: 20px;
			border: 2px solid #fff!important; 
		}
		.soliloquy-pager-link.active, .soliloquy-pager-link:hover{
			background-image: none;
			background: #fff!important; 
		}
	}
	.soliloquy-theme-base .soliloquy-caption-bottom .soliloquy-caption-inside {
		padding: 28px!important; 
	}