.deals {
		.header {
			padding-top: 30px;
			font-size: 2.3125em;
			.title {
				border: 2px solid #ccc;
				padding: 10px;
			}
		}
		.sub-header {
			text-align: center;
			font-size: 2em;
		}
	.deals-container {
		padding: 20px;
		z-index: 99;
		@include outer-container();
		#f1_container {
			position: relative;
			margin: 10px auto;
			height: 320px;
			@include span-columns(12);
			@include media($tablet-portrait) {
				@include span-columns(6);
				@include omega(2n);
			}
			@include media($tablet-landscape) {
				@include omega-reset(2n);
				@include span-columns(4);
				@include omega(3n);
			}
			@include media($desktop) {
				@include omega-reset(3n);
				@include span-columns(3);
				@include omega(4n);
			}
		}
		#f1_container {
			perspective: 1000;
			padding: 0 10px;
		}
		#f1_card {
			width: 100%;
			height: 100%;
			transform-style: preserve-3d;
			transition: all 1.0s linear;
			border: 1px solid#878686;
		}
		#f1_container:hover #f1_card {
			transform: rotateY(180deg);
			box-shadow: -5px 5px 5px #aaa;
		}
		img {
			max-height: 70px;
			width: auto;
			object-fit: contain;
		}
		.face {
			position: absolute;
			width: 100%;
			height: 100%;
			backface-visibility: hidden;
			.title {
				margin-bottom: 20px;
				border-bottom: 1px solid #878686;
			}
			.amount {
				margin-bottom: 0;
			}
			.deal-info {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				height: 240px;
				.logo-img{
					display: flex;
                    justify-content: space-around;
				}

			}
		}
		.face.back {
			display: flex;
   			flex-direction: column;
   			justify-content: space-around;
			transform: rotateY(180deg);
			box-sizing: border-box;
			padding: 10px;
			color: white;
			text-align: center;
			background-color: rgb(67, 74, 84);
			.description {
				text-decoration: none;
				color: $color-white;
				font-size: 12px;
			}
			.footnote{
				font-size: 10px;
			}
		}
	}
	.all-deal{
		text-align: center;
		padding: 30px 20px;
	}
}
