//--------------------------------------------------------------
// Global Link Styles
//--------------------------------------------------------------
a {
	color: $color-link;
	transition: $transition-opacity;
	text-decoration: none;
	&:visited {
		color: $color-link-visited;
	} // &:visited
	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	} // &:hover, &:focus, &:active
} // a
