//--------------------------------------------------------------
// Widgets
//--------------------------------------------------------------
.widget {
	margin: 0 0 rem(24);
	h2 {
		margin: 0;
	} // Make sure select elements fit in widgets.
	ul {
		margin: 0 0 3rem;
		list-style: none;
		padding: 0;
		li {
			a {
				color: #e4ad5d;
				text-decoration: none;
				&:hover {
					color: #e6941d;
				}
			}
		}
	}
	select {
		max-width: 100%;
	} // select
	// Extend the h3 style for the widget titles.
	.widget-title {
		@extend .h3 !optional;
	} // .widget-title
} // .widget
// Search widget.
.widget_search .search-submit {
	display: none;
} // .widget_search .search-submit
